/* Base */

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2')
}


@font-face {
    font-display: swap; 
    font-family: 'Play';
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Play';
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'); 
  }


:root{
    --color-brand-blue: #2B7FFF;
    --color-brand-blueblack: #011C44;
}



body{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    /* padding: 100px;  */
    color: var(--color-brand-blueblack);
    
}


ul{
    list-style-type: none;
    
    
}

a{
    text-decoration: none;
    color: var(--color-brand-blueblack);

}

.color-brand-blue{
    color: var(--color-brand-blue);
}

.color-brand-blueblack{
    color: var(--color-brand-blueblack);
}


/* Header */
.header{
    font-family: 'Roboto';
    background-color:  cadetblue;
}


.header-container{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 56px;
}

.header-nav{
    padding-left: 100px;
    padding-right: 100px;
}

.header-ul{
    font-family: 'Roboto';
    display: flex;
    gap: 56px;
    font-weight: 70px;
     
}

 .header-li{
    font-family: 'Roboto';
} 

.header-link:hover{
    color: var(--color-brand-blue);
    text-decoration: none;
    
}

/* Main */

.main{
    padding-left: 100px;
    padding-right: 100px;
}

.main-p{
    font-size: 18px;

}

.main-title{
    color: var(--color-brand-blue);
    font-family: 'Play';
    font-size: 140px;
    font-weight: 700;
    line-height: 114px; 
    text-transform: capitalize;
}

.button{
    background-color: var(--color-brand-blue);
    border: 1px solid var(--color-brand-blue);
    color: white;
    border-radius: 32px;  
    cursor: pointer;    
}



.main-img{
    position: absolute;
}

.button:hover{
    border: 1px solid var(--color-brand-blue);
    background-color: white;
    color: black;
}



.title{
    /* color: var(--color-brand-blueblack); */
    font-size: 64px;
    font-weight: 700;
}

.main-paragraph{
    font-size: 22px;
    font-weight: 400;
    line-height: 38px; /* 172.727% */
}

/* .main-paragraph-color{
    color: var(--color-brand-blueblack);
} */

/* section */

.section-title{
    font-size: 64px;
    font-weight: 700;
}

.section-text{
    color: var(--color-brand-blue);
    font-size: 64px;
    font-weight: 700;
}

/* footer */

.footer{
    background-color: var(--color-brand-blueblack);
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.footer-links{
    color: white;
    text-decoration: none;
}

.footer-links:hover{
    color: var(--color-brand-blue);
    
}

.footer-conif{
    font-size: 13px;
    font-weight: 400;
}